@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.navbar {
    border: 0;
    border-radius: 0 !important;
    font-size: 20px;
    font-family: Cinzel;
    background-image: url('../../images/StoneTexture.jpg');
}
.footer {
  bottom: 0;
  padding-top: 60px;
}

.nav-bar {
  display: flex;
  overflow-wrap: normal;
  margin: auto;
  margin-inline-start: 70px;
  font-weight: 900;
  -webkit-text-stroke: 1px 0 rgb(189, 23, 23);
  justify-items: center;
}
